* {
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  background: rgb(252, 255, 247);
  background: linear-gradient(
    180deg,
    rgba(252, 255, 247, 1) 0%,
    rgba(211, 245, 255, 1) 100%
  );
}

.section-profile {
  .img-profile {
    height: 100px;
  }
  h1 {
    font-weight: 700;
    font-size: 2rem;
  }

  h2 {
    font-weight: 500;
    font-size: 1rem;
  }
}

.section-footer {
  h1 {
    font-size: 0.8rem;
    color: grey;
    font-weight: 300;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: 400;
  }
}
